<!doctype html>
<html lang="{{ _locale }}">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Youpi Manouche - Licornez le réel !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
